/**
 *
 * STYLES: CTA-block-canibus-home
 *
 */

.CTA-block-canibus-home {
	// border: 1rem solid red;
	background-color: $cg-primary;

	#main-content {
		padding-top: 5rem;
		padding-bottom: 5rem;

		.block-title {
			text-align: center;
			font-weight: 700;
		}

		.text-only {
			padding-top: 1rem;
			color: white;
		}

		.btn-holder {
			.btn {
				font-size: 2rem;
				font-weight: 700;
				padding-left: 3rem;
				padding-right: 3rem;
				margin-top: 2rem;
			}
		}
	}
 }







































