/**
 *
 * STYLES: dark-info-block-canibus-home
 *
 */

.dark-info-block-canibus-home {
	// border: 1rem solid red;
	background-color: $cg-primary;

	#main-content {
		padding-top: 5rem;
		padding-bottom: 5rem;

		h1 {
			text-align: center;
		}

		ol {
			color: white;
			padding-top: 3rem;

			li {
				margin-bottom: 2rem;
			}
		}	
		
	}
 }







































