/**
 *
 * STYLES: disclaimer-block-canibus-home
 *
 */

.disclaimer-block-canibus-home {
	// border: 1rem solid red;
	padding-top: 5rem;
	padding-bottom: 5rem;

	#main-content {
	 	// height: 500px;
		.social-icons {
			padding-bottom: 3rem;
		}
		p {
			font-size: .7rem;
		}
	}
 }







































