/**
 *
 * STYLES: Hero Block Canibus Home 
 *
 */

.hero-block-canibus-home {
	// border: 1rem solid red;

	#hero-content {
	 	height: 700px;
		@media (min-width: 700px) {
	 		
	 		height: 900px;
	 		padding-top: 5rem;
			
		}
	}

 	.hero-info-box {
		// border: 1px solid red;
		padding-top: 3rem;
		font-family: $primary-font;
		@include border-top-left-radius(45px);
		@include border-bottom-right-radius(45px);
		color: lighten($cg-secondary, 20%);
		
		
		.lead {
			color: lighten($cg-secondary, 20%);
			// padding-top: 15rem;
			padding-bottom: 3rem;
			font-size: 2rem;
			font-weight: 500;
			line-height: 2.5rem;
			color: white;

			@media (max-width: 350px) {
				padding-top: 3rem;
				font-size: 1.5rem;
			}
			@media (min-width: 700px) {
		 		
		 		padding-top: 5rem;
				
			}
		}
		.hero-btn-holder {
			.btn {
				font-family: $primary-font !important;
				font-size: 1.5rem;
				font-weight: 600;
				padding: .5rem 4rem;
				border-radius: 50px;
				border: 2px solid white;
				margin-bottom: 2rem;

				@media (max-width: 500px) {
					padding: .5rem 2rem;
					font-size: 1.2rem;
				}
			}
		}

 	}
 }







































