/**
 *
 * STYLES: subscription-block-canibus-home
 *
 */

.subscription-block-canibus-home {
	// border: 1rem solid red;
	background-color: $cg-primary;

	#main-content {
		padding-top: 5rem;
		padding-bottom: 5rem;

		.block-title {
			text-align: center;
			color: white;
			font-weight: 400;
		}

		#wpcf7-f83-o1 {
			padding-top: 3rem;

			.wpcf7-submit {
				font-size: 2rem;
				font-weight: 500;
			}
		}
	}
 }







































