/**
 *
 * General Styles for Single Post or Page
 *
 */

#general-page-header {


   	img {
		-moz-box-shadow: 0 6px 40px  lighten($black, 20%);
		-webkit-box-shadow: 0 6px 40px  lighten($black, 20%);
		box-shadow: 0 6px 40px  lighten($black, 20%);
   	}
}

#page {
	#content {
		#main {
			padding-top: 150px; //Due to the Navbar height of 120px
			// padding-top: 90px; //Due to the Navbar height of 120px
			@media (max-width: 450px) {
				padding-top: 120px;
			}

		}
	}
}

